---
layout: main
---
		<div class="clock" style="margin:2em;"></div>
		
		<script type="text/javascript">
			var clock;
			$(document).ready(function() {
				// Grab the current date
				var currentDate = new Date();
				// Set some date in the future. In this case, it's always Jan 1
				var futureDate  = new Date(currentDate.getFullYear() + 1, 0, 1);
				// Calculate the difference in seconds between the future and current date
				var diff = futureDate.getTime() / 1000 - currentDate.getTime() / 1000;
				// Instantiate a coutdown FlipClock
				clock = $('.clock').FlipClock(diff, {
					clockFace: 'DailyCounter',
					countdown: true,
					showSeconds: false
				});
			});
		</script>
{% for post in paginator.posts %}
  <div class="chapter">
    <a href="{{post.url | prepend: site.baseurl}}">
      {% if post.img %}
        <img src={{ "/assets/img/" | prepend: site.baseurl | append: post.img }} alt="{{post.title}}">
      {% endif %}
    </a>
    <a href="{{post.url | prepend: site.baseurl}}">
      <div class="chapter_inner">
        <p class="chapter_number">{{post.date | date: '%Y, %b %d'}}</p>
        <h3 class="chapter_title">{{post.title}}</h3>
      </div>
    </a>
  </div>
{% endfor %}
