<section id="banner">
  <div class="uk-cover-container uk-height-viewport">
    <h1 class="title">{% if site.banner-title %}{{ site.banner-title }}{% else %}Enjoy Freedom{% endif %}</h1>
      <h2 class="sub_title">{% if site.banner-desc %}{{ site.banner-desc }}{% else %}"A journey of a thousand miles begins with a single step". — Lao Tzu{% endif %}</h2>
    </div>

    <video src="{{site.baseurl}}/assets/video/{% if site.video %}{{ site.video }}{% endif %}" autoplay loop muted playsinline uk-cover></video>
    <!-- <video src="https://www.blueion.com/assets/video/up-in-air.mp4" autoplay loop muted playsinline uk-cover></video> -->

</div>
</section> <!-- End Section Banner -->
