---
layout: default
---

  {% include header.html %}

 <section class="recent_box">
    <div class="post_wrapper">
      <h2 class="recent_title">Recent post</h2>
      <div class="recent_list">
        {% for post in site.posts offset:0 limit:9 %}
          {% if post.title %}
            <a href="{{ post.url | prepend: site.baseurl }}"
              class="recent_item"
              style="background-image: url( {{ "/assets/img/" | prepend: site.baseurl | append : post.img}} )">
                <span>{{ post.title }}</span>
            </a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
</section> <!-- End Section Recent Box -->

  {% include pagination.html %}

{% include footer.html %}
